-var head_url = 'https://razdorsky.mastervision.su/journey-of-soul/';
-var head_title = '«Метафизика. Путешествие Души»';
-var head_description = 'Запись онлайн-мастер-класса Никиты Раздорского';
-var head_img = 'img/banner.jpg';
-var styles = 'css/styles.min.css';
-var fav_ico = 'favicon.ico';
-var fav_png = 'favicon.png';
-var oferta = 'oferta/oferta.doc';
-var fb_content = '2030481470529055';

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_fb_scripts
	body
		include pug/scripts/body_top_fb_scripts
		include pug/main/1.main.pug
		include pug/main/2.plan.pug
		include pug/main/3.get.pug
		include pug/main/4.prices.pug
		include pug/main/5.record.pug
		include pug/main/6.footer.pug
		include pug/scripts
		//- include pug/scripts/callback
		include pug/scripts/body_bottom_scripts