mixin lesson(cl, num, h4,...items)
	.lesson(class= cl)
		.lesson-num
			p= num
		h4.lesson-title= h4
		ul.lesson-list
			each item in items
				li= item

section#plan
	.container
		p.plan-bq Данный курс расскажет о теории осознанных сновидений, астральных путешествий и общении со своим Высшим Я, и окунёт обучающегося в очень эффективную практику, которая претворяет теоретические знания в жизнь
		.row
			.col-md-4.col-sm-4
				+lesson('lesson-1','1','Осознанные сновидения и астральные путешествия. Введение','введение в теорию осознанных сновидений','как осознанные сновидения связаны с выходами в астрал','теория прямого выхода из тела, без фазы сна','подготовительные мероприятия')
			.col-md-4.col-sm-4
				+lesson('lesson-2','2','Наполнение и расслабление','фокусировка энергии, расслабление','соединение деятельности левого и правого полушария','упражнения на концентрацию сознания','первый качественный опыт осознанного сновидения')
			.col-md-4.col-sm-4
				+lesson('lesson-3','3','Концентрация и напряжение','управление тонким телом в условиях напряжения','дыхательные практики, медитация концентрации','улавливание “звенящей тишины”','первый качественный опыт астрального путешествия')
		.row
			.col-md-4.col-sm-4.col-md-offset-2.col-sm-offset-2
				+lesson('lesson-4','4','Смещение сознания. Фантомные вращения','смещение сознания от тела в реальном времени','коридор аппарата третьего глаза','фантомные вращения тонким телом','первый опыт прямого выхода из тела вне сна')
			.col-md-4.col-sm-4
				+lesson('lesson-5','5','Выход из тела. Страху - НЕТ. Подведение итогов','дополнительная рассинхронизация тела и сознания','устранение глубинных страхов разъединения','регулярность исполнения практик, разные цели','выход на разные слои астрального пространства')