section#prices
	.container
		.price-container
			p.price.price-full Стоимость - 
				span 6 300руб.
			p.price.price-sale Скидка - 
				span 1 000руб.
			p.price.price-today Стоимость сегодня - 
				span 5 300руб.
			a.button.button-buy(href="https://shop.mastervision.su/?r=ordering/cart/as1&id=3675&clean=true&lg=ru" target="-blank") Купить
			.timer
				h4.timer-title Цена изменится через:
				.clock
				.clock-stop