section#get
	.container
		h3.general-title В течение курса и по его прохождению Вас ожидают:
		ul.get-list
			li укрепление Вашего “тела света” - увеличение энергетического потенциала, повседневной продуктивности, избавление от сонливости, редукция потребности в продолжительности сна;
			li разработка сознания и его пластичности - усиление работы “третьего глаза”, аппарата Аджны и тонкого видения энергий;
			li подконтрольные Вам систематические осознанные сновидения, что позволяют проводить прямую работу с бессознательной составляющей личности (аналогично регрессивному гипнозу, только под Вашим полным управлением), нивелировать страхи и панические атаки напрямую в подсознании;
			li жизнь внутри жизни - осознанные сновидения дают возможность реализовать застоявшийся творческий потенциал, заблокированную эмоциональную энергию, получить еще больший чувственно-эмоциональный заряд и раскрыть любовь к себе и к жизни;
			li навыки прямого выхода из тела без фазы сна, с сохранением максимума возможных ощущений и впечатлений;
			li возможность выйти на контакт с Высшим Я и в канал любого известного Вам божества, получить ответы на животрепещущие вопросы о судьбе и личном предназначении;
			li астральные путешествия по ближайшим и дальним фрактальным областям нашего Мира, контакт с иными сознаниями, новые знания и беспрецедентный опыт астральной проекции