section#main
	.container
		include ../header
		p.pre-main Запись онлайн-мастер-класса
			small (внизу страницу)
		h1.main-title Метафизика
			br
			| Путешествие души
		p.main-info Старт курса: 
			span 20 августа
		p.main-info Автор: 
			span Никита Раздорский
		a.button.button-main(href="#prices") Купить