header
	padding 20px 0
	margin-bottom: 40px
#logo
	float: left
	opacity .5
	width 193px
	height 17px
	background-image url(../img/logo.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
.contacts
	float: right
	text-align: right
	line-height  12px
.contact
	text-decoration: none
	&:focus
		text-decoration: none
	&:hover
		text-decoration underline
	.fa
		color: #538ffe
		font-size: 16px
		margin: 0 15px 0  40px
		line-height: 12px
	.fa+span
		line-height: 12px
		font-size: 16px;
		font-family:  OSL
		color: rgba(#fff, .6)
		text-align: right;
.contact-tel
	.fa-phone
		margin-left: 0