#main
	background-color: #2C2E30
	background-image url(../img/main_bg.png)
	background-repeat no-repeat
	background-position center top
	background-size: cover
	padding-bottom:  60px
	text-align: center
.pre-main
	color: rgb(224, 13, 2);
	text-transform: uppercase;
	letter-spacing: 1.3px;
	font-family: OSB
	small
		display block
		font-family: OS
		text-transform: none
.main-title
	font-size: 47px;
	font-family: ABL
	color: rgb(254, 254, 255);
	text-transform: uppercase;
	line-height: 1.17;
	text-shadow: 3.064px 2.571px 0px rgba(13, 10, 10, 0.41);
	margin: 20px 0 30px
	letter-spacing: 1.8px;
.main-info
	font-size: 22px;
	font-family: OS
	span
		color: #538ffe
		font-family: OSB
		display: inline-block
		text-transform: uppercase
	&:last-of-type
		margin: 15px 0 40px