#get
	padding 60px 0
	.get-list
		// width 100%
		// max-width 800px
		// margin 0  auto
		li
			font-size: 20px
			padding-left: 20px
			list-style none
			margin-bottom: 20px
			background-image url(../img/triangle_red.png)
			background-repeat no-repeat
			background-position: left top 9px
			line-height: 1.5
			&:last-child
				margin-bottom: 0