#record
	padding 60px 0
.video-wrapper-rec
	max-width 650px
	border: 1px solid #0075de
	margin-bottom: 20px
.rec-text
	width 100%
	max-width 650px
	margin 10px auto 0
.general-title-feedback 
	margin-top: 60px
.video-wrapper-rec
#vk
#fb
	overflow hidden
	background-color #fff
.rec-text-sale
	text-align: center
	margin-bottom: 25px