@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.lesson
		max-width 420px
	.get-list
		max-width 1200px
		margin 0 auto
@media screen and (max-width 1199px)
	.lesson
		min-height 384px
@media screen and (max-width 991px)
	#logo
		display block
		margin 0 auto 10px
		float: none
	.contacts
		text-align: center
		float: none
	.contact
		margin 5px 5px 0
		.fa
			margin 0 5px 0 10px
	.lesson
		min-height 502px
	footer p br
		display: none
@media screen and (max-width 767px)
	#main
		padding-bottom: 40px
	#plan
		padding 40px 0 15px
	.lesson
		min-height 1px
		margin-bottom: 25px
		&-title
				min-height 1px
	#get
	#prices
	#record
		padding 40px 0
	.general-title-feedback
		margin-top: 40px
	#vk
		margin-bottom: 25px
	footer
		padding 15px 0
@media screen and (max-width 485px)
	header 
		margin-bottom 10px
	#logo
		width 160px
		height 14px
		margin-bottom: 5px
	.contact .fa 
	.contact .fa + span
		font-size: 12px
	.main-title
		font-size: 36px
		margin 10px 0 20px
	.main-info
		font-size: 20px
	.main-info:last-of-type
		margin 10px 0 30px
	.plan-bq
		font-size: 20px
		margin-bottom: 25px
	.general-title
		font-size: 26px
		margin-bottom: 30px
	#get .get-list li
		font-size: 18px
		margin-bottom: 10px
	.timer-title
		margin-top: 20px
	.flip-clock-wrapper
		width 100%
		max-width 260px
	.flip-clock-wrapper ul
		height 50px
		margin 3px
	.flip-clock-wrapper ul li
		line-height: 50px
	.flip-clock-wrapper ul li a div.up::after
		top 24px
	.flip-clock-wrapper ul li a div div.inn
		font-size: 40px
	.flip-clock-divider
		height 50px
	.flip-clock-dot
		width 7px
		height 7px
		left 3px
	.flip-clock-dot.top
		top 31px
	.flip-clock-dot.bottom
		bottom: 27px
	.flip-clock-divider .flip-clock-label
	.flip-clock-divider.minutes .flip-clock-label
	.flip-clock-divider.seconds .flip-clock-label
		font-size:  10px
		right: -59px
	footer h5
		font-size: 18px
	.soc-buttons a
		margin 15px 7px
	footer #conditions, footer p
		font-size: 12px
@media screen and (max-width 385px)
	.pre-main
		font-size: 16px
	.main-title
		font-size: 30px
	.main-info span
		display block
	#main
		padding-bottom: 30px
	#plan
		padding 30px 0 5px
	.plan-bq
		font-size: 18px
		margin-bottom: 20px
	.lesson-title
		margin-bottom: 15px
		padding 35px 0 0
	#get, #prices, #record
		padding 30px 0
	.price-container
		padding 20px 15px
	.price
		margin-bottom: 15px
		&-today
			margin-bottom: 20px
	.timer-title
		font-size: 24px
		margin-top: 15px
	.flip-clock-wrapper
		margin-top: 20