.button
.pre-main
.main-info span
.price
footer h5
	font-weight: bold
.general-title
.main-title
.lesson-num p
.lesson-title
.price span
.timer-title
	font-weight: 900
.pre-main span
	font-weight: normal
.plan-bq
	font-style: italic
.lesson-num p
	left 21px